html {
    background: linear-gradient(var(--white), var(--white2));
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#navbar, section.even {
    background: linear-gradient(var(--primary),var(--primary-dark));
}

footer {
    background: linear-gradient(var(--black), var(--black2));
    padding: 2rem 0;
}

hr {
    border: none;
    width: 100%;
    height: 1px;
    /* Más delgada */
    background: rgba(255, 255, 255, .15);
    margin: 20px 0;
    /* Sin margen a los lados */
    position: relative;
    overflow: hidden;
}

hr::before {
    content: "";
    position: absolute;
    left: -20%;
    width: 20%;
    height: 100%;
    background: var(--secondary);
    animation: linea 2s linear infinite;
}

@keyframes linea {
    from {
        left: -20%;
    }

    to {
        left: 100%;
    }
}